In [1]:
import os
import pandas as pd
import json
import numpy as np

In [57]:
data = []
colnames=['Bezirk', 'Straße', 'Hausnummer', 'Zuschlag_bis_0319', 'Zuschlag_seit_0419', 'Differenz']

def text_num_split(item):
    for index, letter in enumerate(item, 0):
        if letter.isdigit():
            return [item[:index],item[index:]]

test=pd.read_csv('./Altbau_new.csv')

for file in os.listdir("./"):
    if file.endswith("json"):
        f = open(file, "r") 
        df = json.load(f)

        for i in range(len(df['zuschlag'])):
            row=[
                test[test['Adresse']==df['zuschlag'][i]['addr']].iloc[0,1],
                text_num_split(df['zuschlag'][i]['addr'])[0],
                text_num_split(df['zuschlag'][i]['addr'])[1],
                float(df['zuschlag'][i]['zuschlag'][1]['EUR je m²'].replace(',','.')),
                float(df['zuschlag'][i]['zuschlag'][0]['EUR je m²'].replace(',','.')),
                round(float(df['zuschlag'][i]['zuschlag'][0]['EUR je m²'].replace(',','.')) - float(df['zuschlag'][i]['zuschlag'][1]['EUR je m²'].replace(',','.')), 2)
            ]
            data.append(row)
    
frame=pd.DataFrame(data, columns=colnames).sort_values(by=['Bezirk', 'Straße'])
frame

,Bezirk,Straße,Hausnummer,Zuschlag_bis_0319,Zuschlag_seit_0419,Differenz
0,13,Gloriettegasse,13,3.34,3.63,0.29
1,13,Hofwiesengasse,46,2.18,2.48,0.30
2,13,Hofwiesengasse,48,2.18,2.48,0.30
3,13,Franz-Boos-Gasse,3,3.34,3.63,0.29
4,13,Franz-Boos-Gasse,1,3.34,3.63,0.29

In [62]:
frame['Bezirk'].value_counts()

19    4562
13    3638
12    3314
18    3263
16    3189
10    2984
3     2676
17    2649
15    2533
14    2422
2     2231
5     1798
9     1789
7     1403
4     1342
6     1283
1     1272
8     1049
11     850
Name: Bezirk, dtype: int64

In [66]:
frame.to_csv('./zuschläge.csv', index = False)